/*===================Reset_Styles=========================*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*=======================================================*/
.trainings {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #EFCDB8;
  overflow-y: auto;
  overflow-x: hidden; }
  @media screen and (min-width: 767px) {
    .trainings .container {
      max-width: 750px;
      margin: 0 auto; } }
  @media screen and (min-width: 992px) {
    .trainings .container {
      max-width: 970px; } }
  @media screen and (min-width: 1200px) {
    .trainings .container {
      max-width: 100%;
      max-height: none;
      margin: 0 auto; } }
  .trainings header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: #7FB5B5;
    border-bottom: 2px solid black; }
    .trainings header .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media screen and (min-width: 767px) {
        .trainings header .container {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
      .trainings header .container h1 {
        letter-spacing: 5px;
        font-size: 25px;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        margin: 5px 15px;
        text-shadow: 3px 3px 5px #000; }
        .trainings header .container h1 a:link, .trainings header .container h1 a:visited, .trainings header .container h1 a:hover, .trainings header .container h1 a:active {
          color: black; }
        @media screen and (min-width: 767px) {
          .trainings header .container h1 {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                    flex: 0 0 auto;
            font-size: 35px; } }
        @media screen and (min-width: 1200px) {
          .trainings header .container h1 {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                    flex: 0 0 auto; } }
      .trainings header .container nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0 -5px; }
        @media screen and (min-width: 767px) {
          .trainings header .container nav {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                    flex: 0 0 auto; } }
        @media screen and (min-width: 1200px) {
          .trainings header .container nav {
            -webkit-box-flex: 0;
                -ms-flex: 0 0 auto;
                    flex: 0 0 auto; } }
        .trainings header .container nav p {
          font-size: 12px;
          margin: 5px 5px;
          padding: 0 10px 0 0; }
          @media screen and (min-width: 767px) {
            .trainings header .container nav p {
              font-size: 20px; } }
          .trainings header .container nav p a:link {
            color: black;
            text-decoration: underline; }
          .trainings header .container nav p a:visited {
            color: green; }
          .trainings header .container nav p a:hover {
            color: blue; }
          .trainings header .container nav p a:active {
            color: red; }
        .trainings header .container nav p:not(:last-child) {
          border-right: 3px solid black; }
  .trainings main {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
    .trainings main .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: raw;
              flex-direction: raw;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
      .trainings main .container div {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 100%;
                flex: 1 1 100%;
        background-color: #B5B8B1;
        margin: 15px 15px 0;
        border: 2px solid black;
        border-radius: 10px;
        overflow: hidden; }
        @media screen and (min-width: 767px) {
          .trainings main .container div {
            -webkit-box-flex: 1;
                -ms-flex: 1 1 45%;
                    flex: 1 1 45%; } }
        @media screen and (min-width: 992px) {
          .trainings main .container div {
            -webkit-box-flex: 1;
                -ms-flex: 1 1 45%;
                    flex: 1 1 45%; } }
        @media screen and (min-width: 1200px) {
          .trainings main .container div {
            -webkit-box-flex: 1;
                -ms-flex: 1 1 45%;
                    flex: 1 1 45%; } }
        .trainings main .container div h2 {
          text-align: center;
          font-size: 16px;
          letter-spacing: 5px;
          text-shadow: 2px 2px 4px black;
          -webkit-box-shadow: 0px 5px 8px black;
                  box-shadow: 0px 5px 8px black;
          padding: 5px 0;
          margin: 0 0 10px 0;
          border-bottom: 1px solid black;
          background-color: yellow; }
          @media screen and (min-width: 767px) {
            .trainings main .container div h2 {
              font-size: 20px; } }
          @media screen and (min-width: 992px) {
            .trainings main .container div h2 {
              font-size: 20px; } }
          @media screen and (min-width: 1200px) {
            .trainings main .container div h2 {
              font-size: 20px; } }
        .trainings main .container div ul {
          padding: 0;
          font-size: 14px; }
          @media screen and (min-width: 767px) {
            .trainings main .container div ul {
              font-size: 16px; } }
          @media screen and (min-width: 992px) {
            .trainings main .container div ul {
              font-size: 17px; } }
          @media screen and (min-width: 1200px) {
            .trainings main .container div ul {
              font-size: 17px; } }
          .trainings main .container div ul li {
            padding: 0 0 0 20px;
            margin: 0 0 15px 0;
            background: url("../img/sport.png") left no-repeat;
            background-size: 15px; }
          .trainings main .container div ul li:first-child {
            background: url("../img/run.png") left no-repeat;
            background-size: 15px; }
          .trainings main .container div ul li:last-child {
            background: url("../img/balance.png") left no-repeat;
            background-size: 15px; }
        .trainings main .container div ul:last-child {
          padding: 5px 15px 0 15px; }
      .trainings main .container div:last-child {
        margin: 15px 15px; }
  .trainings footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    background-color: #7FB5B5;
    border-top: 1px solid #000; }
    .trainings footer .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 15px; }
      .trainings footer .container ul:last-child {
        text-align: right; }

/*# sourceMappingURL=style.css.map */